@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400..500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: "Manrope", sans-serif;
}

a svg {
  width: 1em;
  height: 1em;
}

input {
  outline: none;
}

@layer components {
  section {
    opacity: 0;
    transform: translateY(50px);
  }

  .input {
    @apply p rounded-md border border-border bg-white px-5 py-3 outline-none outline-1 outline-offset-0 transition-all placeholder:text-text-light/50 focus:outline-offset-2 focus:outline-border;
  }
}

@layer utilities {
  .h1 {
    font-size: 98px;
    line-height: 103px;
  }

  .h2 {
    font-size: 84px;
    line-height: 92px;
  }

  .h3 {
    font-size: 28px;
    line-height: 36px;
  }

  .p {
    font-size: 14px;
    line-height: 28px;
  }

  .span {
    font-size: 12px;
    line-height: 24px;
  }
}
