@tailwind base;
@tailwind components;
@tailwind utilities;

@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@keyframes pie {
  0% {
    --p: 0;
  }
  /* 50% {
    --p: 75;
  } */
}

@layer components {
  a:not(:has(*)) {
    @apply text-link-light underline dark:text-link-dark;
  }

  .number {
    font-feature-settings: "tnum";
  }
}

@layer utilities {
  .animate-pie {
    --p: 100;

    mask-image: conic-gradient(#000 calc(var(--p) * 1%), transparent 0);
    -webkit-mask-image: conic-gradient(#000 calc(var(--p) * 1%), transparent 0);

    animation: pie 0.5s ease-in-out forwards;
  }

  .wave::after {
    content: "👋";
    transform-origin: 70% 70%;
    font-size: 1.2em;

    @apply relative -z-10 ml-1 inline-block animate-wave;
  }
}
